body {
	background-color: #7EA780;
}

.numeros {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	border: 1px solid black;
}

.numeros h6 {
	width: 100%;
	text-align: center;
	padding-left: 30px;
}

.numeros div {
	margin-left: 10%; 
	width: 70px
}