body {
	background-color: #7EA780;
}

.container {
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

.card {
	box-shadow: 6px 8px 15px black;
	border-radius: 8%;
	background-color: #555555;
	color: white;
	text-align: center;
}

.campos {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
