<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/estilo.css}" />
<link rel="stylesheet" th:href="@{/cssProprio/fragmentoSorteio.css}" />
<link rel="stylesheet" th:href="@{/cssProprio/main.css}" />
<link rel="stylesheet" th:href="@{/cssProprio/telaAposta.css}" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />

<title>Tela de Aposta</title>
</head>

<body>

	
	<div class="container" th:fragment="telaNumeros">
		
		<div th:insert="Fragmentos/FragmentoMensagens :: fragmentoMsg"></div>
			  
		  <form class="mb-2" th:action="@{/sorteio/realizar-sorteio-nao-aleatorio/{idControlador} (idControlador=${session.usuario.id})}" th:object="${dezenasDTO}" method="POST">
			  	  
			  <div class="numeros"> 
			  	<h6>Digite seus números:</h6>
			  	
			  	<div class="col-md-6 mb-3">
			    	<input type="text" size="2" maxlength="2" class="form-control-sm" th:field="*{n1}" required>
			 	</div>
			  
				 <div class="col-md-6 mb-3">
				    <input type="text" size="2" maxlength="2" class="form-control-sm" th:field="*{n2}" required>
				  </div>
				  
				   <div class="col-md-6 mb-3">
				    <input type="text" size="2" maxlength="2" class="form-control-sm" th:field="*{n3}" required>
				  </div>
				  
				   <div class="col-md-6 mb-3">
				    <input type="text" size="2" maxlength="2" class="form-control-sm" th:field="*{n4}" required>
				  </div>
				  
				   <div class="col-md-6 mb-3">
				    <input type="text" size="2" maxlength="2" class="form-control-sm" th:field="*{n5}" required>
				  </div>
				  
				   <div class="col-md-6 mb-3">
				    <input type="text" size="2" maxlength="2" class="form-control-sm" th:field="*{n6}" required>
				  </div>
				  
			  </div>
			     
			  <div>
			  	 <button type="submit" style="margin-left: 28%" value="submit" class="btn btn-dark btn-sm mb-2">Finalizar Sorteio</button>
			  	 <a th:href="@{/sorteio/setar-aleatorio}"> <button  type="button" class="btn btn-dark btn-sm mb-2 ms-3">Voltar</button> </a>
			  </div>
			 
		</form>	
	  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
	</div>
	
</body>
</html>