<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/estilo.css}" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />

<title>Tela de Aposta</title>
</head>

<body>
	<div style="display: flex; justify-content: center" th:fragment="fragmentoMsg">
		<div style="margin-top: 15px; width: 80%; height: 60px;" class="alert alert-danger alert-dismissible fade show" th:if="${mensagem != null}" role="alert">
		  <p style="text-align:center" th:text="${mensagem}"/>
		  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		  <script th:src="@{js/bootstrap.bundle.min.js}"></script>
		</div>
	</div>
</body>
</html>