<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/estilo.css}" />
<link rel="stylesheet" th:href="@{/cssProprio/telaInicialSorteio.css}" />
<link rel="stylesheet" th:href="@{/cssProprio/main.css}" />
<link rel="stylesheet" th:href="@{/cssProprio/telaAposta.css}" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />

<title>Tela Inicial</title>

</head>

<body>

	<div th:insert="menu :: menu"></div>
	
	<div th:if="${sorteio != null}">
		<div class="container">
			<div class="card center" style="width: 18rem;">
			  
			  <img th:src="@{/images/trevo.png}" class="card-img-top" alt="...">
			  
			  <div class="card-body">
				<h4 class="card-text text-center" th:text = "'Sorteio em aberto'" />
			  	
			  	<div th:if="${sorteio.getControlador.id == session.usuario.id}">
			  		<p class="card-text text-center" th:text = "'Quantidade de apostas: 0' " />
				    <p class="card-text text-center" th:text = "'Valor do Prêmio: R$' + ${#numbers.formatDecimal(sorteio.getValorPremio, 0, 'POINT', 2, 'COMMA')}" />
				    <p class="card-text text-center" th:text = "'Data do Sorteio: ' + ${dataFormatada}" />
			  	</div>
			  	
			  	<div th:unless="${sorteio.getControlador.id == session.usuario.id}">
				    <p class="card-text text-center" th:text="'Controlador do Sorteio: ' + ${sorteio.getControlador.getNome}"/>
				    <p class="card-text text-center" th:text = "'Valor do Prêmio: R$' + ${#numbers.formatDecimal(sorteio.getValorPremio, 0, 'POINT', 2, 'COMMA')}" />
				    <p class="card-text text-center" th:text = "'Data do Sorteio: ' + ${dataFormatada}" />
			  		<p style="font-weight:bold" class="card-text text-center" th:text = "'Você só poderá criar um novo sorteio a partir do dia ...'" />
			  	</div>
			  	
			  </div>
	  
			</div>
		</div>
		
		<div th:if="${sorteio.getControlador.getId == session.usuario.id }">
		<div class="btn-aposta" th:if="${sorteio.getDataHora==data}">
			
			<form th:action="@{/sorteio/realizar-sorteio/{idControlador} (idControlador=${session.usuario.id})}" th:object=${sorteio} method="POST">
				<select name="tipo" class="form-select" aria-label="Default select example" style="width: 10rem">
				  <option>Escolha o tipo</option>
				  <option value="ALEATORIO">Aleatório</option>
				  <option value="NAO_ALEATORIO">Não Aleatório</option>
				</select>
							
				<button type="submit" class="btn btn-dark mt-2">Finalizar Sorteio</button> 
			</form>
			
			<div th:if="${session.aleatorio}">
				
			</div>
			
			<div th:unless="${session.aleatorio}">
				<div th:include="FragmentoSorteioNaoAleatorio :: telaNumeros"></div>	
			</div>
				
		</div>
		
		<div class="btn-aposta" th:unless="${sorteio.getDataHora==data}">		
			<button type="button" class="btn btn-dark mt-2" disabled>Finalizar Sorteio</button>
		</div>
		
	</div>
	</div>
	
	
	<div th:unless="${sorteio != null}">
		<div class="container">
		
		<div class="card center" style="width: 21rem;">
			<div class="alert alert-danger" role="alert" th:if="${mensagem != null}">
			  <p th:text=${mensagem}/>
			</div>
		
		  <h4 style="margin-top: 10px">CRIAR SORTEIO</h4>
		  
		  <form class="mb-2" th:action="@{/sorteio/criar/{idControlador} (idControlador=${session.usuario.id})}" th:object="${novoSorteio}" method="POST">
			  <h6>Valor do Prêmio</h6>
			  
			  <div class="col-md-6 mb-3" style="margin-left: 25%;">
			    R$ <input type="number" class="form-control-sm" th:field="*{valorPremio}" id="inputPremio">
			  </div>
			  
			  <h6>Data do Sorteio</h6>
			  <div class="col-md-6 center mb-3" style="margin-left: 25%;">
			    <input type="date" class="form-control-sm" th:field="*{dataHora}" id="inputDate">
			  </div>
			  
			  <div>
			  	 <button type="submit" value="submit" class="btn btn-warning btn-sm mb-2" style="width: 20%">Criar</button>
			  </div>
			 
			</div>
		</form>	
	  
	</div>
	</div>
	
	<script th:src="@{js/bootstrap.bundle.min.js}"></script>
</body>