<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/estilo.css}" />
<link rel="stylesheet" th:href="@{/cssProprio/telaInicialSorteio.css}" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />

<title>Tela Inicial</title>

</head>

<body>

	<div th:insert="menu :: menu"></div>
	
	<div th:if="${sorteio != null}">
		<div class="container">
			<div class="card center" style="width: 18rem;">
			  
			  <img th:src="@{/images/trevo.png}" class="card-img-top" alt="...">
			  
			  <div class="card-body">
				<h4 class="card-text text-center" th:text = "'Sorteio em aberto'" />
			  	
			  	<div th:if="${sorteio.getControlador.id == usuario.getId}">
			  		<p class="card-text text-center" th:text = "'Quantidade de apostas: 0' " />
				    <p class="card-text text-center" th:text = "'Valor do Prêmio: R$' + ${#numbers.formatDecimal(sorteio.getValorPremio, 0, 'POINT', 2, 'COMMA')}" />
				    <p class="card-text text-center" th:text = "'Data do Sorteio: ' + ${dataFormatada}" />
			  	</div>
			  	
			  	<div th:unless="${sorteio.getControlador.id == usuario.getId}">
				    <p class="card-text text-center" th:text="'Controlador do Sorteio: ' + ${sorteio.getControlador.getNome}"/>
				    <p class="card-text text-center" th:text = "'Valor do Prêmio: R$' + ${#numbers.formatDecimal(sorteio.getValorPremio, 0, 'POINT', 2, 'COMMA')}" />
				    <p class="card-text text-center" th:text = "'Data do Sorteio: ' + ${dataFormatada}" />
			  		<p style="font-weight:bold" class="card-text text-center" th:text = "'Você só poderá criar um novo sorteio a partir do dia ...'" />
			  		
			  	</div>
			  </div>
			  
			  
			  
			</div>
		</div>
	</div>
	
	<div th:unless="${sorteio != null}">
	
	</div>
	
	<div th:if="${sorteio.getControlador.getId == usuario.getId }">
		<div class="btn-aposta" th:if="${sorteio.getDataHora.toLocalDate==data}">
			<a th:href="@{/sorteio/aposta/{idUsuario} (idUsuario=${usuario.id})}"> <button type="button" class="btn btn-dark mt-2">Finalizar Sorteio</button> </a>
		</div>
		<div class="btn-aposta" th:unless="${sorteio.getDataHora.toLocalDate==data}">
			<button type="button" class="btn btn-dark mt-2" disabled>Finalizar Sorteio</button>
		</div>
	</div>
	
	<script th:src="@{js/bootstrap.bundle.min.js}"></script>
</body>