<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/estilo.css}" />
<link rel="stylesheet" th:href="@{/cssProprio/telaAposta.css}" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />

<title>Tela de Aposta</title>
</head>

<body>
			  
	<div th:insert="menu :: menu"></div>
	
	<div class="container">
		
		<div class="card center"  style="width: 60rem;">
		
		<div class="alert alert-danger alert-dismissible fade show" th:if="${mensagem != null && !session.msgSucesso}" role="alert">
		  <p th:text="${mensagem}"/>
		  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
			
		<div class="alert alert-success alert-dismissible fade show" th:if="${mensagem != null && session.msgSucesso}" role="alert">
		  <p th:text="${mensagem}"/>
		  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		  		  
		  <form class="mb-2" th:action="@{/aposta/criar/{idCliente} (idCliente=${session.usuario.id})}" th:object="${apostaDTO}" method="POST">
			  	  
			  <div class="numeros"> 
			  	<h6>Digite entre 6 e 10 números</h6>
			  	
			  	<div class="col-md-6 mb-3">
			    	<input type="text" size="2" maxlength="2" class="form-control-sm" th:field="*{n1}" ><span>*</span>
			 	</div>
			  
				 <div class="col-md-6 mb-3">
				    <input type="text" size="2" maxlength="2" class="form-control-sm" th:field="*{n2}" ><span>*</span>
				  </div>
				  
				   <div class="col-md-6 mb-3">
				    <input type="text" size="2" maxlength="2" class="form-control-sm" th:field="*{n3}" ><span>*</span>
				  </div>
				  
				   <div class="col-md-6 mb-3">
				    <input type="text" size="2" maxlength="2" class="form-control-sm" th:field="*{n4}" ><span>*</span>
				  </div>
				  
				   <div class="col-md-6 mb-3">
				    <input type="text" size="2" maxlength="2" class="form-control-sm" th:field="*{n5}" ><span>*</span>
				  </div>
				  
				   <div class="col-md-6 mb-3">
				    <input type="text" size="2" maxlength="2" class="form-control-sm" th:field="*{n6}" ><span>*</span>
				  </div>
				  
				   <div class="col-md-6 mb-3">
				    <input type="text" size="2" maxlength="2" class="form-control-sm" th:field="*{n7}">
				  </div>
				  
				   <div class="col-md-6 mb-3">
				    <input type="text" size="2" maxlength="2" class="form-control-sm" th:field="*{n8}">
				  </div>
				  
				   <div class="col-md-6 mb-3">
				    <input type="text" size="2" maxlength="2" class="form-control-sm" th:field="*{n9}">
				  </div>
				  
				   <div class="col-md-6 mb-3">
				    <input type="text" size="2" maxlength="2" class="form-control-sm" th:field="*{n10}">
				  </div>
				  
			  </div>
			     <div>
				     <select th:field="*{apostasFavoritas}">
					    <option th:each="i : ${apostaDTO.apostasFavoritas}" th:value="${i}" th:text="${i}">
					    </option>
					</select>
			     </div>
			     
			     <div class="form-check checkbox">
				  <input class="form-check-input" type="checkbox" value="true" id="flexCheckDefault" th:field="*{apostaFav}">
				  <label class="form-check-label" for="flexCheckDefault">
				    Adicionar como aposta favorita
				  </label>
				</div>
			     
			  <div>
			  	 <button type="submit" value="submit" class="btn btn-warning btn-sm mb-2 btn-apostar">Apostar</button>
			  </div>
			 
			</div>
		</form>	
	  
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>