<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/estilo.css}" />
<link rel="stylesheet" th:href="@{/cssProprio/telaInicialSorteio.css}" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />

<title>Tela Inicial</title>

</head>

<body>

	<div th:insert="menu :: menu"></div>
	
	<div>
		<div class="container">
			<div class="card center" style="width: 20rem;">
			  
			  <img th:src="@{/images/trevo.png}" class="card-img-top" alt="...">
			  
			  <div class="card-body">
			   <h4 style="text-align: center" th:text="${dezenas}"></h4>
				<dl class="list-group">
				  <dt class="list-group-item" th:text="'Data do Sorteio: ' + ${dataFormatada}"></dt> 
				  <dt class="list-group-item" th:text="'Valor do Prêmio: R$' + ${#numbers.formatDecimal(sorteioDTO.getValorPremio, 0, 'POINT', 2, 'COMMA')}"></dt>
				  <dt class="list-group-item" th:text="'Ganhador do Sorteio: '"></dt>			
				  	<dd class="list-group-item" th:each="usuario: ${sorteioDTO.ganhador}" th:text=" '- ' + ${usuario}"></dd>
				</dl>
			  </div>
	  
			</div>
		</div>
		
	</div>
	
	
	</div>
	
	<script th:src="@{js/bootstrap.bundle.min.js}"></script>
</body>