<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/estilo.css}" />
<link rel="stylesheet" th:href="@{/cssProprio/fragmentoSorteio.css}" />
<link rel="stylesheet" th:href="@{/cssProprio/main.css}" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />

<title>Tela de Aposta</title>
</head>

<body>

	
	<div class="container" th:fragment="telaNumeros">
		
		<div class="card center"  style="width: 21rem;">
			<div class="alert alert-danger" role="alert" th:if="${mensagem != null}">
			  <p th:text=${mensagem}/>
			</div>
			  
		  <form class="mb-2" th:action="@{/sorteio/realizar-sorteio-nao-aleatorio/{idControlador} (idControlador=${session.usuario.id})}" th:object="${dezenasDTO}" method="POST">
			  	  
			  <div class="numeros"> 
			  	<h6>Digite seus números</h6>
			  	
			  	<div class="col-md-6 mb-3">
			    	<input type="text" size="2" maxlength="2" class="form-control-sm" th:field="*{n1}">
			 	</div>
			  
				 <div class="col-md-6 mb-3">
				    <input type="text" size="2" maxlength="2" class="form-control-sm" th:field="*{n2}">
				  </div>
				  
				   <div class="col-md-6 mb-3">
				    <input type="text" size="2" maxlength="2" class="form-control-sm" th:field="*{n3}">
				  </div>
				  
				   <div class="col-md-6 mb-3">
				    <input type="text" size="2" maxlength="2" class="form-control-sm" th:field="*{n4}">
				  </div>
				  
				   <div class="col-md-6 mb-3">
				    <input type="text" size="2" maxlength="2" class="form-control-sm" th:field="*{n5}">
				  </div>
				  
				   <div class="col-md-6 mb-3">
				    <input type="text" size="2" maxlength="2" class="form-control-sm" th:field="*{n6}">
				  </div>
				  
			  </div>
			     
			  <div>
			  	 <button type="submit" value="submit" class="btn btn-warning btn-sm mb-2">Finalizar</button>
			  </div>
			 
			</div>
		</form>	
	  
	</div>
	
</body>
</html>