<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/estilo.css}" />
<link rel="stylesheet" th:href="@{/cssProprio/main.css}" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />

<title>Menu</title>
</head>

<body>

	<div th:fragment="menu" th:if="${session.usuario.tipoUsuario.getTipo == 0}">
		<nav  class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <div class="container-fluid">
	     <a class="navbar-brand" th:href="@{/sorteio/cliente}">
		      <img th:src="@{/images/leprechaun.png}" alt="" width="50" height="40" style="object-fit: cover;" class="d-inline-block align-text-center">
		      Leprechaun
	     </a>
	    <div class="collapse navbar-collapse" id="navbarText">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	        <li class="nav-item">
	          <a class="nav-link active" aria-current="page" th:href="@{/aposta/conferir/{idCliente} (idCliente=${session.usuario.id})}">Conferir apostas</a>
	      </ul>
	      <span class="navbar-text me-4" th:text = "${session.usuario.nome}"/>
	     <a th:href="@{/sair}"> <button type="button"  class="btn btn-warning">Sair<i class="fas fa-sign-out-alt ms-2"></i></button> </a>
	    </div>
	  </div>
	</nav>
	</div>
	
	<div th:fragment="menu" th:unless="${session.usuario.tipoUsuario.getTipo == 0}">
		<nav  class="navbar navbar-expand-lg navbar-dark bg-dark">
	  <div class="container-fluid">
	     <a class="navbar-brand" th:href="@{/sorteio/controlador}">
		      <img th:src="@{/images/leprechaun.png}" alt="" width="50" height="40" style="object-fit: cover;" class="d-inline-block align-text-center">
		      Leprechaun
	     </a>
	    <div class="collapse navbar-collapse" id="navbarText">
	      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
	        <li class="nav-item">
	          
	      </ul>
	      <span class="navbar-text me-4" th:text = "${session.usuario.nome}"/>
	     <a th:href="@{/sair}"> <button type="button"  class="btn btn-warning">Sair<i class="fas fa-sign-out-alt ms-2"></i></button> </a>
	    </div>
	  </div>
	</nav>
	</div>
	
</body>
</html>